<!doctype html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Donate Today.</title>
	
	<meta name="description" content="Donate">
	<meta name="author" content="Spork">
	<meta name="viewport" 	content="width=device-width,initial-scale=1">
	

	<link rel="stylesheet" type="text/css" media="all" 	href="/media/css/reset.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/media/css/960.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/media/css/main.css" />
</head>

<body>
<div class="container_12">
	<!--Header Div -->
	<!--Logo Div-->
	<div class="grid_12">
		<div class="grid_5" id="logo">
		<div id="logo1">Sp</div><div id="logo2">ork</div>
		<div id="tagline">Where a good meal goes a long way</div>
		</div>
		<!--End Logo Div-->
	
	<!-- Navbar Div -->
	
		<div class="grid_6" id="navbar">
			<img src="../media/images/icons/facebook.png">
			<img src="../media/images/icons/twitter.png">
			<img src="../media/images/icons/tumblr.png">
			<img src="../media/images/icons/youtube.png">
			<img src="../media/images/icons/flickr.png">
			<br>
			<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="/donate">Donate</li>
				<li><a href="/FAQ">FAQ</a></li>
				<li><a href="/contact">Contact</a></li>
				</ul>
			</div>
	</div>
	<div class="clear">&nbsp;</div>
	<!-- End Navbar Div-->
	<!--End Header Div-->
	
	<!--Top Section-->
	<div class="grid_12 topSection">
		<img src="../media/images/header.jpg">
	</div>
	
	<div class="clear">&nbsp;</div>
	<!--End TopSection-->
	
	<!--Spacer-->
	<div class="grid_12 spacer">
	</div>
	<div class="clear">&nbsp;</div>
	<!--End Spacer-->
	
	<!-- Content Area-->
	<div class="grid_8" id="content">
		<h1>Why waste food when </h1>
			
			<form action='/create_donation' method='post'>
			    {{ form.as_p }}
			    <input type='submit' value='submit' />
			</form>
			
	</div>
	
	<div class="grid_4" top_Section>
		<script src="http://widgets.twimg.com/j/2/widget.js"></script>
		<script>
		new TWTR.Widget({
		  version: 2,
		  type: 'profile',
		  rpp: 4,
		  interval: 30000,
		  width: 300,
		  height: 340,
		  theme: {
		    shell: {
		      background: '#0b7e88',
		      color: '#ffffff'
		    },
		    tweets: {
		      background: '#ffffff',
		      color: '#000000',
		      links: '#ff6600'
		    }
		  },
		  features: {
		    scrollbar: false,
		    loop: false,
		    live: false,
		    behavior: 'all'
		  }
		}).render().setUser('rhokatl').start();
		</script>
	</div>
	<div class="clear">&nbsp;</div>
	<!--End Content Area-->
	
	<!--Spacer-->
	<div class="grid_12 spacer">
	</div>
	<div class="clear">&nbsp;</div>
	<!--End Spacer-->
	
<!--Footer-->
<div class="grid_12" id="footer">
	<ul>
		<li>Copyright &copy; 2011 Spork</li>
		<li><a href="/home">Home</a></li>
		<li><a href="/donate">Donate</li>
		<li><a href="/FAQ">FAQ</a></li>
		<li><a href="/contact">Contact</a></li>
	</ul>
</div>
<!--End Footer-->
</body>
</html>
